header{
  background:$white;
  border-bottom: 1px solid $black;
  position:fixed;
  top:0;
  left:0;
  right:0;
  z-index: 1;

  div{
    max-width: 960px;
    margin:0 auto;
    position:relative;
  }

  h1{
    padding:10px;
    font-size:1.5em;
    display:inline-block;
  }


  form{
    position: absolute;
    top: 13px;
    right: 20px;

    input{
      width:200px;
    }
  }

  .container{
    position:relative;
  }
}